* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

header {
  position: fixed;
  height: 70px;
  width: 100%;
  text-align: right;
  z-index: 10;
}

.header-menu li {
  list-style: none;
  display: inline-block;
  margin: 30px 12px 0 12px;
}

.header-menu li a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  /* border: 1px solid black; */
  line-height: 100%;
  padding: 15px 18px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

.header-menu li a:hover {
  box-shadow: 3px 3px 4px rgba(0,0,0,.5);
}

.box {
  position: relative;
  width: 100%;
  height: 100vh;
}

.product::before {
  content: '';
  display: block;
  height: 70px;
  margin: -70px 0 0;
}

.box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  font-size: 250%;
}

.box .product img {
  width: 100%;
}

.product h2 {
  text-align: center;
  color: yellow;
}

#yellow h2 {
  color: green;
}

.box#red {
  background-color: red;
}

.box#green {
  background-color: green;
}

.box#yellow {
  background-color: yellow;
}

